/* PALETA DE COLORES */
:root {
  /* Fondo y paneles */
  --color-bg: #111217; /* Fondo principal */
  --color-panel: #16171c; /* Paneles / sidebar */
  --color-modal: #222226; /* Fondo modal */
  --color-border: #4a4a50; /* Bordes suaves */
  --color-seccion1-modal: #2a2a2e;
  --color-seccion2-modal: #333338;

  /* Texto */
  --color-text: #ffffff; /* Texto principal */
  --color-text-sec: #b0b3b8; /* Texto secundario */

  /* Acentos */
  --color-accent: #4f9dff; /* Azul eléctrico */
  --color-success: #1de9b6; /* Verde turquesa */
  --color-error: #ff5252; /* Rojo coral */

  /* Hover */
  --color-hover-dark: #2a2f3a;
  --color-hover-accent: rgba(79, 157, 255, 0.1);

  /* Overlay */
  --overlay-bg: rgba(0, 0, 0, 0.6);

  /* Inputs */

  --color-input: #e0e0e0;
}

.modalContainer {
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  backdrop-filter: blur(10px);
  z-index: 100;
}

.modalContainer input {
  background-color: var(--color-input);
  color: #000;
}

.formularioModalAperturas {
  position: relative;
  width: 90%;
  height: 80%;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--color-modal);
}

/* styles cuando el modal se Abra */

.modalContainer.modalAperturaAbierta {
  display: block;
  position: relative;
}

.botonCerrarModalApertura {
  position: absolute;
  top: 0;
  right: 1%;
}

/* Section de Aperturas */

.containerApertura {
  display: flex;
  width: 100%;
  height: 20%;
  padding: 5px;
  background-color: var(--color-border);
}

.containerPlaca,
.containerRegistrarApertura {
  position: relative;
  display: flex;
  width: 20%;
  height: 98%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-seccion1-modal);
}

.ingresePlaca,
.registrarApertura {
  width: 150px;
  height: 50px;
  color: #000;
  border-radius: 4px;
}

.ingresePlaca {
  font-size: 30px;
  border: none;
}

.ingresePlaca:focus {
  outline: 2px solid #ccc;
}

/* Inputs de Tipo de Inspeccion */
.containerTipoInspeccion {
  display: flex;
  width: 60%;
  margin: 0 5px;
  padding: 5px;
  justify-content: center;
  background-color: var(--color-seccion1-modal);
}

.containerTipoInspeccion2 {
  display: flex;
  width: 60%;
  height: 100%;
  flex-direction: column;
  background-color: var(--color-seccion2-modal);
}

.containerItemInspeccion {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.inputsTipo {
  width: 60%;
  height: 25px;
  margin: 2px 0;
  border: none;
  border-radius: 4px;
}

.inputsTipo:focus {
  outline: 2px solid #ccc;
}

/* Boton de Registro de Apertura */
.registrarApertura {
  color: #000;
}

/* Contenedores de Datos de Tarjeta de Propiedad */
.containerSectionsTarjetaPropiedad {
  width: 100%;
  height: 79%;
  margin-top: 6px;
  padding: 5px;
  background-color: var(--color-border);
}

.containerTitleDatos {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--color-border);
}

.titleDatos {
  display: flex;
  justify-content: center;
  width: 33%;
  margin: 5px;
  font-size: 20px;
  background-color: var(--color-seccion1-modal);
}

/* Section de Partida Registral */
.containerRegistral {
  display: flex;
  width: 100%;
  height: 6%;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  background-color: var(--color-seccion1-modal);
}

.inputRegistral {
  height: 30px;
  margin: 7px;
  color: #000;
  border: none;
  border-radius: 4px;
}

.inputRegistral:focus {
  outline: 2px solid #ccc;
}

.containerForma {
  width: 200px;
  display: flex;
  margin-right: 10px;
  justify-content: space-between;
}

.checkbox {
  width: 20px;
  height: 20px;
  appearance: none;
  border-radius: 50%;
  background-color: #fff;
}

.checkbox1:checked {
  background-color: #ff0000;
}

.checkbox2:checked {
  background-color: #00ff00;
}

.checkbox3:checked {
  background-color: #0000ff;
}

/* Contenedor Global de Datos de la Tarjeta de Propiedad */
.containerDatosTarjetaPropiedad {
  display: flex;
  width: 100%;
  height: 85%;
  margin-top: 4px;
  padding: 10px;
  background-color: var(--color-border);
}

.dataTarjetaPropiedad1,
.dataTarjetaPropiedad2 {
  width: 40%;
  padding: 20px;
  margin-right: 5px;
  background-color: var(--color-seccion1-modal);
}

.dataTarjetaPropiedad1 {
  width: 65%;
}

/* Contenedor de Primera y Segunda Seccion de la Tarjeta de Propiedad */
.containerData1,
.containerData2 {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: var(--color-seccion1-modal);
}

.containerData11,
.containerData12,
.containerData21,
.containerData22 {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px 20px 0px 20px;
  flex-direction: column;
  background-color: var(--color-seccion2-modal);
}

.containerData11,
.containerData21 {
  margin-right: 20px;
}

.guardarApertura {
  position: absolute;
  width: 150px;
  height: 50px;
  right: 55px;
  bottom: 65px;
  color: #000;
}

.containerItem1Data1,
.containerItem1Data2 {
  display: flex;
  justify-content: space-between;
}

.labelData1,
.labelData2 {
  margin-top: 40px;
}

.inputData1,
.inputData2 {
  width: 70%;
  height: 35px;
  margin-top: 33px;
  color: #000;
  border: none;
  border-radius: 4px;
}

.inputData1:focus,
.inputData2:focus {
  outline: 2px solid #ccc;
}

.inputData2 {
  width: 55%;
}

.añoFabricacion,
.añoModelo,
.fr,
.ejes,
.ruedas {
  position: absolute;
  width: 10%;
  margin-left: 8%;
}

/* Styles al Contenedor de Actividad en Tiempo Real */
.containerActividad {
  grid-area: actividad;
}

.actividad {
  height: 95%;
}

/* Styles al Contenedor de Barra lateral derecha */
.sidebarRigth {
  width: 100%;
  height: 100%;
  padding: 10px;
  grid-area: sidebar2;
  background-color: #16171c;
}

.titleCertificar {
  margin-bottom: 30px;
}

.containerCertificar {
  width: 100%;
  height: 60%;
}

.containerItemsCertificar {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  list-style: none;
}

.itemCertificar {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 5px;
  align-items: center;
  background-color: #1f2024;
  border-left: solid 4px #3b82f6;
  border-radius: 4px;
}
