.container__main {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 1fr 1.2fr;
  grid-template-areas:
    "grafico grafico apertura"
    "actividad actividad actividad";
}

.containerGrafico,
.containerApertura,
.containerActividad {
  grid-area: grafico;
  padding: 5px;
}

.containerActividad {
  grid-area: actividad;
}

.actividad {
  height: 95%;
}

.grafico,
.nuevaApertura,
.containerImpresiones,
.actividad {
  width: 100%;
  height: 93%;
  padding: 5px;
  background-color: #16171c;
  border-radius: 12px;
}

/* Contenedor Actividad de Aperturas */

.containerItemsAperturas {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  flex-direction: column;
  background-color: #16171c;
}

.itemsApertura {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 5px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2024;
  border-left: solid 4px #3b82f6;
  border-radius: 4px;
  list-style: none;
}

/* Styles a Contenedor de Aperturas */

.containerApertura {
  display: flex;
  grid-area: apertura;
  flex-direction: column;
  justify-content: space-around;
}

.nuevaApertura {
  height: 40%;
}

/* Styles al Contenedor de Impresiones */

.containerImpresiones {
  display: flex;
  height: 60%;
  justify-content: center;
  align-items: center;
}
