.sidebarRight {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #16171c;
}

.titleCertificar {
  margin-bottom: 30px;
}

.containerCertificar {
  width: 100%;
  height: 60%;
}

.containerItemsCertificar {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
}

.itemCertificar {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 5px;
  align-items: center;
  background-color: #1f2024;
  border-left: solid 4px #3b82f6;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #fff;
}
