.sidebar__left {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #16171c;
}

.sidebar__left .text__sidebar__left {
  opacity: 1;
}

.text__sidebar__left {
  display: none;
  opacity: 0;
}

.botonCerrar__sidebarLeft {
  display: none;
}

/*Cuando el sidebar izquierdo este abierto*/

.sidebar__left.abierta {
  width: 350%;
  height: 100%;
  z-index: 10;
}

.sidebar__left.abierta .text__sidebar__left {
  display: inline;
  opacity: 1;
}

.sidebar__left.abierta .botonCerrar__sidebarLeft {
  display: inline;
  cursor: pointer;
}

/* Cuando el Sidebar se Cierra*/

.sidebar__left.minimizada {
  height: 100%;
  transition: width 0.5s ease;
  z-index: 10;
}

/*Contenedor de la Barra Lateral Izquierdo*/

.containerSidebarLeft {
  position: relative;
  width: 100%;
  height: 100%;
}

.botonCerrar__sidebarLeft {
  position: absolute;
  right: 0;
}

.container__list__left {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
}

/*Items de Listas de Navegacion de Barra Izquierda*/

.barra__left__items:hover {
  border-left: solid 4px #fff;
  border-radius: 2px;
  transition: border 0.3s;
}

pre {
  color: #4c4d52;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7 {
  display: flex;
  width: 100%;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
}
