.header {
  display: flex;
  width: 100vw;
  height: 70px;
  align-items: center;
  background-color: #16161e;
}

/*Logo del Sofware*/

.logo {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 10px;
}

/*Texto del Logo*/

.textLogo {
  position: absolute;
  left: 70px;
  font-family: "Exo", sans-serif;
}

/* Iconos de Navegacion*/

.containerIcons {
  display: flex;
  width: 450px;
  height: 40px;
  margin-left: auto;
  justify-content: space-around;
  align-items: center;
}

/*contenedor del search*/

.containerSearch {
  position: relative;
  width: 70%;
}

/*Estilos al Input Search*/

.search {
  caret-color: #fff;
  width: 100%;
  height: 40px;
  padding: 5px;
  background: transparent;
  color: #fff;
  border-radius: 10px;
  border: solid #1e1e26;
}

.search:focus {
  outline: none;
}

/*Icono de Lupa*/

.searchIcon {
  position: absolute;
  right: 15px;
  top: 18px;
}
