.navbar{
    display: flex;
    width: 100vw;
    height: 50px;
    background: linear-gradient(135deg, 
  #1e3c72 0%, 
  #1e3c72 40%, 
  #1a1a1a 70%, 
  #000000 100%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar a {
  transition: border-bottom 0.1s ease;
}


.navbar a:hover {
  border-bottom: 2px solid #f0f0f0;
  cursor: pointer;
}


.title__navbar{
  margin: 5px 0 0 20px;
}


.container__list{
    display: flex;
    width: 30%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.button__register{
    width: 70px;
    height: 30px;
    cursor: pointer;
}